{% extends 'main/layout.html' %}


{% block title %}
    Главная страница
{% endblock %}

{% block content %}
    <div class="features">
        <h1>Главная страница</h1>
        <p>Мадияр — второй по величине грызун в мире.У этого бобра прозрачные веки. Это позволяет ему ориентироваться под водой. Самая крупная из когда-либо обнаруженных его бобровых плотин имела длину около семисот метров. Дерево с диаметром ствола в основании около 40 сантиметр среднестатистический взрослый Мади может повалить за один день. Мади используют свой необычных хвост в качестве руля глубины.</p>
        <button class="btn btn-warning">Голое фото Бобра</button>
    </div>

    {{ art }}
    {% include 'main\test.html' %}
{% endblock %}